doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
    script(src="/javascripts/jquery-3.3.1.min.js")
  body
    div.hearder
      div.content 
        div.logo 房天下
        div.menuList 
          ul.hearder-menu
            li 注册
            li 登录
            li 新房
            li 租房
            li 二手房
            li 首页 
    block content
